.main-width {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

label {
  display: inline-block;
  text-align: right;
  width: 200px;
}

input {
  width: 400px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

input:focus {
  outline: none;
}

.error {
  border-bottom: 1px solid red;
}

.error-sausage {
  position: relative;
  display: inline-block;
  max-width: 300px;
  margin: -5px 0 0 0;
  padding: 10px;
  background: red;
  border-radius: 5px;
  text-align: left;
  font-style: italic;
  color: white;
}

.error-sausage:before {
  position: absolute;
  top: -10px;
  left: calc(50% - 5px);
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid red;
}
